<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xl-12">
      <button type="submit" class="btn btn-success">save</button>
      <button type="button" class="btn btn-danger">cancel</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="name">name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="name"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="pathName">image url</label>
        <input
          type="text"
          id="imagePath"
          class="form-control"
          formControlName="imagePath"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="description">description</label>
        <textarea
          type="text"
          id="description"
          rows="6"
          class="form-control"
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" formArrayName="ingredients">
      <div
        class="row"
        *ngFor="let ing of controls; let i = index"
        [formGroupName]="i">
        <div class="col-xs-8">
          <input 
            type="text" 
            class="form-control" 
            formControlName="name"/>
        </div>
        <div class="col-xs-2">
          <input 
            type="number" 
            class="form-control" 
            formControlName="amount"/>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-danger" type="submit">x</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onAddIngredients()">
        add ingredient
      </button>
    </div>
  </div>
</form>
