<div class="row">
  <div class="col-xs-12">
    <img [src]="recipeToDisplay.imagePath" alt="" class="img-responsive"  style="max-width:400px;"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeToDisplay.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" #dropdownElement appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        manage recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor:pointer;" (click)="toShopingList()">to shoping list</a></li>
        <li><a style="cursor:pointer;" (click)="editRecipe()">edit recipe</a></li>
        <li><a style="cursor:pointer;" >delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipeToDisplay.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="groupe-group">
      <li
        class="groupe-list-item"
        *ngFor="let ingredient of recipeToDisplay.ingredients"
      >{{ingredient.name}} - {{ingredient.amount}}</li>
    </ul>
  </div>
</div>
